{% extends "_layouts/cp.twig" %}
{% import '_includes/forms.twig' as forms %}

{% set title = "Assignments"|t('salesforce') %}
{% set selectedSubnavItem = 'assignments' %}


{% block content %}
  <p>assignments</p>
{% endblock %}