{% extends '_layouts/cp.twig' %}
{% import '_includes/forms.twig' as forms %}

  {# {% set fullPageForm = true %} #}
{% set title = 'View Assignment'|t('salesforce') %}

{% set selectedSubnavItem = 'assignments' %}

{% set tabs = {
  general: {
    label: 'General'|t('salesforce'),
    url: '#general',
  },
  json: {
    label: 'JSON'|t('salesforce'),
    url: '#json'
  },
  related: {
    label: 'Related Stories'|t('salesforce'),
    url: '#related'
  }
} %}

{% set selectedTab = 'general' %}

{% block details %}

{% endblock details %}

{% block actionButton %}
<div class="btngroup">
  <a
    href="{{ assignment.url }}"
    class="btn submit"
    target="_blank"
  >
    {{ 'View Assignment'|t('app') }}
  </a>
</div>
{% endblock actionButton %}

{% block content %}
    {{ actionInput('salesforce/assignments/save') }}
    {{ redirectInput('salesforce/assignments') }}

    {% include "salesforce/assignments/_general-tab" %}
    {% include "salesforce/assignments/_json-tab" %}
    {% include "salesforce/assignments/_related-stories-tab" %}

{% endblock content %}